/* .cards{
    border: 1px solid black;
    position: relative;
    padding: 1px 0px 5px 0px;
    background-color: rgba(255, 255, 255, 0.4);
    transition: box-shadow 300ms ease-in-out 0s;
    text-align: start;
    display: block;
    margin: 5px;
}

.title{
    background:darkblue; 
    color:white; 
    margin: 2.3px; 
    display: block;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-top: 3px;
    font-size: medium;
    font-weight: 700;

    
}

.desc{
    font-weight: 1000;
    padding-left: 12px;
} */
