.navbar{
    background: darkblue;
    color: white;
    font-size: x-large;
    font-family: 'Gothic A1', sans-serif;
    font-family: 'Noto Serif KR', serif;
    font-weight: 400;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 50px;
}

.btn_add{
    align-content: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    margin-right: 2px;
    font-size: smaller;
    margin: 1px;
    padding:0 5 0 5;
}

.cards{
    border: 1px solid black;
    position: relative;
    padding: 1px 0px 5px 0px;
    background-color: rgba(255, 255, 255, 0.4);
    transition: box-shadow 300ms ease-in-out 0s;
    text-align: start;
    display: block;
    margin: 5px;
    width: 100%;
    max-width: 450px;
}

.title{
    background:darkblue; 
    color:white; 
    margin: 2.3px; 
    display: block;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-top: 3px;
    font-size: medium;
    font-weight: 700;

    
}

.desc{
    font-weight: 1000;
    padding-left: 12px;
}