.navbar{
    background: darkblue;
    color: white;
    font-size: x-large;
    font-family: 'Gothic A1', sans-serif;
    font-family: 'Noto Serif KR', serif;
    font-weight: 400;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 30px;
}

body{
    padding: 0;
    width: 100%;
    display: inline-table;
}

.btn_add{
    align-content: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    margin-right: 2px;
    font-size: smaller;
    margin: 1px;
    padding:0 5 0 5;
}


.cards{
    border: 1px solid black;
    position: relative;
    padding: 5px 0px 5px 0px;
    background-color: rgba(255, 255, 255, 0.4);
    transition: box-shadow 300ms ease-in-out 0s;
    text-align: start;
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 7px;
    float: left;
}

.title{
    background:darkblue; 
    color:white; 
    margin: 2px; 
    display: flex;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-top: 3px;
    font-size: medium;
    font-weight: 700;
    height: 30px;
    margin-bottom: 20px;
}

.desc{
    font-weight: 1000;
    padding-left: 12px;
}

.btn_del{
    padding: 0;
    border: 0;
    outline: 0;
    background-color: transparent;
    color: black;
    font-weight: 700; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* 
.row{
    display: block;
    text-align: start;
    justify-content: start;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
} */